@import "tailwindcss";

:root {
  --leafy-green: #6baa75;
  --leafy-dark: #8cafa2;
  --leafy-light: #f2eedb;
  --leafy-sage: #a3b18a;
  --leafy-moss: #ccd5ae;
  --leafy-yelgreen: #d7ddb9;
  --leafy-yellow: #ffeb3b;
  --leafy-bg: #f5f5f4;
  --leafy-white: #f8faf9;
  --leafy-gray: #5c645e;
  --leafy-black: rgb(40, 40, 51);
  --leafy-error: #a36656;
}

/* Castum classes */
.btn-primary {
  @apply px-4 py-3 rounded font-semibold transition-colors;
  border-radius: 10px;
  background-color: var(--leafy-dark);
  color: white;
}

.btn-primary-sm {
  @apply px-3 py-2 rounded font-light
  transition-colors;
  border-radius: 10px;
  background-color: var(--leafy-dark);
  color: white;
}

.btn_hover {
  @apply hover:bg-yellow-500 hover:text-black cursor-pointer;
}

/* h1 */
.title-xl {
  @apply text-4xl font-bold;
  color: var(--leafy-black);
}

.title-l {
  @apply text-2xl mb-4 font-medium;
  color: var(--leafy-black);
}

/* cart images */
.icon_images {
  @apply w-10 h-10 object-cover rounded-full
  cursor-pointer;
}

.icon_images_l {
  @apply w-20 h-20 object-cover rounded-full
  cursor-pointer;
}

/* button disabled */
.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/* scrollbar off */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
