@import "tailwindcss";

:root {
  /* Primary brand */
  --leafy-green: #6baa75;
  --leafy-dark: #3d6650;

  /* Secondary / background */
  --leafy-bg: #f9fafb;
  --leafy-white: #ffffff;
  --leafy-gray: #49524b;
  --leafy-gray-opacity: #6b728062;

  /* States */
  --leafy-accept: #05df72;
  --leafy-error: #dc2626;
  --leafy-warning: #facc15;
  --leafy-disabled: #ccc;
}

/* Castum classes */
.btn-primary {
  @apply px-3 py-2 md:px-4 md:py-2 rounded font-semibold transition-colors active:scale-95 active:opacity-80 cursor-pointer;
  border-radius: 10px;
  background-color: var(--leafy-green);
  color: white;
}

.btn-primary-sm {
  @apply px-4 py-1.5 rounded font-light
  transition-colors cursor-pointer active:scale-95 active:opacity-80;
  border-radius: 10px;
  background-color: var(--leafy-green);
  color: white;
}

.btn_hover {
  @apply hover:bg-[var(--leafy-dark)] hover:text-[var(--leafy-white)] cursor-pointer;
}

/* h1 */
.title-xl {
  @apply text-3xl font-bold;
  color: var(--leafy-black);
}

.title-l {
  @apply text-2xl mb-4 font-medium;
  color: var(--leafy-black);
}
.title-s {
  @apply text-xl mb-4 font-normal;
  color: var(--leafy-black);
}

/* cart images */
.icon_images {
  @apply w-10 h-10 object-cover rounded-full
  cursor-pointer;
}

.icon_images_l {
  @apply w-20 h-20 object-cover rounded-full
  cursor-pointer;
}

/* button disabled */
.btn-primary:disabled {
  background-color: var(--leafy-disabled);
  cursor: not-allowed;
  opacity: 0.6;
}

/* scrollbar off */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Border */
.custum-border-outline {
  @apply border-b border-gray-300 focus:outline-none focus:border-green-500 transition duration-200;
}
